#
# Mellanox chip configuration
#

menuconfig MELLANOX
	tristate "Mellanox support"
	depends on I2C
	default n
	help
	  Say yes here for Mellanox hwmon support.


if MELLANOX

config MELLANOX_I2C_BACKEND
	tristate "Mellanox I2C backend"
	default y
	help
	  Say yes for Mellanox I2C backend driver support


config MELLANOX_ASIC_CORE
	tristate "Mellanox ASIC core"
	default y
	help
	  Say yes for Mellanox ASIC core support

config MELLANOX_ASIC_HWMON
	tristate "Mellanox ASIC hwmon"
	default y
	help
	  Say yes for Mellanox ASIC hwmon support

endif # MELLANOX
