/* This file is the label for the bmc primary flash and its partitions */
				label = "bmc";
				#address-cells = < 1 >;
				#size-cells = < 1 >;
				u-boot {
					reg = < 0 0x60000 >;
					label = "u-boot";
				};
				u-boot-env {
					reg = < 0x60000 0x30000 >;
					label = "u-boot-env";
				};
				kernel  {
					reg = < 0x90000 0x27e000 >;
					label = "kernel";
				};
                                dtb  {
                                        reg = < 0x30e000 0x2000 >;
                                        label = "dtb";
                                };
				initramfs {
					reg = < 0x310000 0x1c0000 >;
					label = "initramfs";
				};
				rofs  {
					reg = < 0x4d0000 0x1740000 >;
					label = "rofs";
				};
				rwfs  {
					reg = < 0x1c10000 0x3f0000 >;
					label = "rwfs";
				};
