/dts-v1/;

#include <dt-bindings/thermal/thermal.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/aspeed-gpio.h>
#include "aspeed-g5-mlx.dtsi"

/ {
	model = "AST2500 EVB";
	compatible = "mellanox,mlx-bmc", "aspeed,ast2500";

	aliases {
		serial0 = &uart1;
		serial4 = &uart5;
        };

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200n8 earlyprintk";
	};

	memory {
		reg = <0x80000000 0x20000000>;	/* 512MiB SDRAM DDR4 @ 0x8000_0000 */
	};

	ahb {
		bmc_pnor: fmc@1e620000 {
			reg = < 0x1e620000 0x94
				0x20000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,ast2500-fmc";
			flash@0 {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
#include "aspeed-bmc-mlx-flash-layout.dtsi"
			};
		};
	};
};

&uart5 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&mac0 {
	status = "okay";
	use-ncsi;
	no-hw-checksum;
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";

	psu_eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};

	psu_eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
	};

	psu_ctrl@58 {
		compatible = "dps460";
		reg = <0x58>;
	};

	psu_ctrl@59 {
		compatible = "dps460";
		reg = <0x59>;
	};
};

&i2c4 {
	status = "okay";

	mlxcpld-mng-ctrl@71 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mellanox,mlxcpld-ctrl";
		reg = <0x71>;
		top_aggr_offset = <0x3a>;
		top_aggr_mask = <0x48>;
		top_aggr_irq = <174>;
		interrupt-parent = <&gpio>;
		gpios-signal = <&gpio ASPEED_GPIO(S, 1)>;

		psu {
			aggr_mask = <0x08>;
			reg = <0x58>;
			mask = <0x03>;

			psu1_eeprom {
				type = "24c02";
				bus = <0x03>;
				addr = <0x51>;
			};

			psu2_eeprom {
				type = "24c02";
				bus = <0x03>;
				addr = <0x50>;
			};
		};

		pwr {
			aggr_mask = <0x08>;
			reg = <0x64>;
			mask = <0x03>;

			psu1_contoller {
				type = "dps460";
				bus = <0x03>;
				addr = <0x59>;
			};

			psu2_contoller {
				type = "dps460";
				bus = <0x03>;
				addr = <0x58>;
			};
		};

		fan {
			aggr_mask = <0x40>;
			reg = <0x88>;
			mask = <0x0f>;

			fan1_eeprom {
				type = "24c32";
				bus = <0x0e>;
				addr = <0x50>;
			};

			fan2_eeprom {
				type = "24c32";
				bus = <0x0f>;
				addr = <0x50>;
			};

			fan3_eeprom {
				type = "24c32";
				bus = <0x10>;
				addr = <0x50>;
			};

			fan4_eeprom {
				type = "24c32";
				bus = <0x11>;
				addr = <0x50>;
			};
		};

		mux {
			#address-cells = <1>;
			#size-cells = <0>;
			mux1 {
				label = "uart_sel";
				reg = <0x30>;
				mask = <0xef>;
				bit = <0x00>;
			};
			mux2 {
				label = "spi_burn_bios_ci";
				reg = <0x32>;
				mask = <0xfe>;
				bit = <0x00>;
			};
			mux3 {
				label = "spi_burn_ncsi";
				reg = <0x32>;
				mask = <0xfd>;
				bit = <0x00>;
			};
			mux4 {
				label = "bmc_uart_en";
				reg = <0x32>;
				mask = <0xdf>;
				bit = <0x00>;
			};
			mux5 {
				label = "safe_bios1";
				reg = <0x35>;
				mask = <0xfb>;
				bit = <0x01>;
			};
			mux6 {
				label = "safe_bios2";
				reg = <0x35>;
				mask = <0xf7>;
				bit = <0x01>;
			};
			mux7 {
				label = "safe_bios_disable";
				reg = <0x35>;
				mask = <0xdf>;
				bit = <0x01>;
			};
		};

		led {
			#address-cells = <1>;
			#size-cells = <0>;
			led1 {
				label = "status:green";
				reg = <0x20>;
				mask = <0xf0>;
			};
			led2 {
				label = "status:red";
				reg = <0x20>;
				mask = <0xf0>;
			};
			led3 {
				label = "status:amber";
				reg = <0x20>;
				mask = <0xf0>;
			};
			led4 {
				label = "fan1:green";
				reg = <0x21>;
				mask = <0xf0>;
			};
			led5 {
				label = "fan1:red";
				reg = <0x21>;
				mask = <0xf0>;
			};
			led6 {
				label = "fan2:green";
				reg = <0x21>;
				mask = <0x0f>;
			};
			led7 {
				label = "fan2:red";
				reg = <0x21>;
				mask = <0x0f>;
			};
			led8 {
				label = "fan3:green";
				reg = <0x22>;
				mask = <0xf0>;
			};
			led9 {
				label = "fan3:red";
				reg = <0x22>;
				mask = <0xf0>;
			};
			led10 {
				label = "fan4:green";
				reg = <0x22>;
				mask = <0x0f>;
			};
			led11 {
				label = "fan4:red";
				reg = <0x22>;
				mask = <0x0f>;
			};
		};

		reset {
			#address-cells = <1>;
			#size-cells = <0>;
			reset1 {
				label = "bmc_reset_soft";
				reg = <0x17>;
				mask = <0xfd>;
			};
			reset2 {
				label = "system_reset_hard";
				reg = <0x17>;
				mask = <0xfe>;
			};
			reset3 {
				label = "cpu_reset_soft";
				reg = <0x17>;
				mask = <0xf7>;
			};
			reset4 {
				label = "ps1_on";
				reg = <0x30>;
				mask = <0xfe>;
			};
			reset5 {
				label = "ps2_on";
				reg = <0x30>;
				mask = <0xfd>;
			};
			reset6 {
				label = "sys_power_cycle";
				reg = <0x30>;
				mask = <0xfb>;
			};
			reset7 {
				label = "mng_pg_ovrd";
				reg = <0x30>;
				mask = <0xf7>;
			};
			reset8 {
				label = "cpu_reset_hard";
				reg = <0x30>;
				mask = <0xdf>;
			};
		};

		cause {
			#address-cells = <1>;
			#size-cells = <0>;
			cause1 {
				label = "ac_power_cycle";
				reg = <0x1d>;
				mask = <0xfe>;
			};
			cause2 {
				label = "dc_power_cycle";
				reg = <0x1d>;
				mask = <0xfd>;
			};
			cause3 {
				label = "cpu_power_down";
				reg = <0x1d>;
				mask = <0xfb>;
			};
			cause4 {
				label = "cpu_reboot";
				reg = <0x1d>;
				mask = <0xf7>;
			};
			cause5 {
				label = "cpu_shutdown";
				reg = <0x1d>;
				mask = <0xef>;
			};
			cause6 {
				label = "cpu_watchdog";
				reg = <0x1d>;
				mask = <0xef>;
			};

			cause7 {
				label = "cpu_kernel_panic";
				reg = <0x1d>;
				mask = <0xef>;
			};
			cause8 {
				label = "bmc_warm_reset";
				reg = <0x71>;
				mask = <0xfe>;
			};
			cause9 {
				label = "bmc_upgrade";
				reg = <0x2e>;
				mask = <0xf7>;
			};
		};

		gpro {
			#address-cells = <1>;
			#size-cells = <0>;
			gpro1 {
				label = "version";
				reg = <0x01>;
				mask = <0xff>;
				bit = <0xff>;
			};
		};
	};

	mlxcpld-swb-ctrl@72 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mellanox,mlxcpld-ctrl";
		reg = <0x72>;

		gpro {
			#address-cells = <1>;
			#size-cells = <0>;
			gpro1 {
				label = "version";
				reg = <0x01>;
				mask = <0xff>;
				bit = <0xff>;
			};
		};
		reset {
			#address-cells = <1>;
			#size-cells = <0>;

			reset1 {
				label = "asic_reset";
				reg = <0x19>;
				mask = <0xf7>;
			};
			reset2 {
				label = "phy_reset";
				reg = <0x19>;
				mask = <0xef>;
			};
		};

	};

	mlxcpld-port-ctrl@73 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mellanox,mlxcpld-ctrl";
		reg = <0x73>;

		gpro {
			#address-cells = <1>;
			#size-cells = <0>;
			gpro1 {
				label = "version";
				reg = <0x01>;
				mask = <0xff>;
				bit = <0xff>;
			};
		};
	};
};

&i2c5 {
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
	};

	eeprom@51 {
		compatible = "atmel,24c32";
		reg = <0x51>;
	};
};

&i2c6 {
	status = "okay";

	eeprom@51 {
		compatible = "atmel,24c32";
		reg = <0x51>;
	};

	eeprom@52 {
		compatible = "atmel,24c32";
		reg = <0x52>;
	};

	eeprom@55 {
		compatible = "atmel,24c32";
		reg = <0x55>;
	};

	i2cswitch@71 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;
	};
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";

	lm75@49 {
		compatible = "national,lm75";
		reg = <0x49>;
	};

	lm75@4a {
		compatible = "national,lm75";
		reg = <0x4a>;
	};
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";

	hwmon@41 {
		compatible = "ti,ucd9240";
		reg = <0x41>;
	};

	hwmon@27 {
		compatible = "ti,ucd9240";
		reg = <0x27>;
	};

	adc@6d {
		compatible = "maxim,max11603";
		reg = <0x6d>;
		adc0: iio-device@0 {
			#io-channel-cells = <1>;
			io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>,
				      <&adc0 3>, <&adc0 4>, <&adc0 5>,
				      <&adc0 6>, <&adc0 7>;
		};
	};
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&pwm {
	status = "okay";
};

&jtag {
	status = "okay";
};

&vuart {
	status = "okay";
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	adc1 {
		channel = <0>;
		min = <677>;
		max = <828>;
	};
	adc2 {
		channel = <2>;
		min = <684>;
		max = <836>;
	};
	adc3 {
		channel = <3>;
		min = <684>;
		max = <836>;
	};
	adc4 {
		channel = <4>;
		min = <676>;
		max = <826>;
	};
	adc5 {
		channel = <10>;
		min = <691>;
		max = <845>;
	};
	adc6 {
		channel = <11>;
		min = <640>;
		max = <782>;
	};
	adc7 {
		channel = <12>;
		min = <615>;
		max = <751>;
	};
	adc8 {
		channel = <13>;
		min = <587>;
		max = <719>;
	};
};

&i2c1 {
	status = "okay";
/*
	mlxsw_i2c@48 {
		compatible = "mellanox,mlxsw_minimal";
		reg = <0x48>;
	};
*/
};
